:root {
  --hoam-badge-list-color-item-bg: var(--hoam-color-fill-light);
  --hoam-badge-list-color-item-border: var(--hoam-color-border-default);
}

.root {
  display: flex;
  gap: var(--hoam-spacing-sm);
  padding: var(--hoam-spacing-2xs) 0;
}

.item {
  background-color: var(--hoam-badge-list-color-item-bg);
  border-radius: var(--hoam-border-radius-default);
  border: var(--hoam-border-size-default) var(--hoam-badge-list-color-item-border);
  display: inline-flex;
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-2xs) var(--hoam-spacing-xs);
  text-transform: uppercase;
}

.item[data-variant="alert"] {
  --hoam-badge-list-color-item-border: var(--hoam-color-border-semantic-warning);
}

.item[data-variant="highlight"] {
  --hoam-badge-list-color-item-border: var(--hoam-color-border-semantic-success);
}
