.root {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-3);
  padding: var(--hoam-spacing-1) 0;
}

.item {
  background-color: var(--hoam-color-neutral-900);
  border-radius: var(--hoam-border-radius-small);
  border: var(--hoam-border-size-default) var(--hoam-color-badge-list-item-border);
  display: inline-flex;
  font: var(--hoam-typography-label-2);
  padding: var(--hoam-spacing-1) var(--hoam-spacing-2);
  text-transform: uppercase;
}
