.root {
  display: flex;
  gap: var(--hoam-spacing-sm);
  padding: var(--hoam-spacing-2xs) 0;
}

.item {
  background-color: var(--hoam-color-neutral-900);
  border-radius: var(--hoam-border-radius-default);
  border: var(--hoam-border-size-default) var(--hoam-color-badge-list-item-border);
  display: inline-flex;
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-2xs) var(--hoam-spacing-xs);
  text-transform: uppercase;
}

.item[data-variant="default"] {
  --hoam-color-badge-list-item-border: var(--hoam-color-neutral-500);
}

.item[data-variant="alert"] {
  --hoam-color-badge-list-item-border: var(--hoam-color-semantic-warning);
}

.item[data-variant="highlight"] {
  --hoam-color-badge-list-item-border: var(--hoam-color-semantic-success);
}
