:root {
  --hoam-password-meter-color-track-bg: var(--hoam-color-fill-grey);
  --hoam-password-meter-color-segment-bg: var(--hoam-color-fill-grey);
}

.track {
  background-color: var(--hoam-password-meter-color-track-bg);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 10px;
  margin-bottom: var(--hoam-spacing-xs);
  width: 100%;
}

.segment {
  background-color: var(--hoam-password-meter-color-segment-bg);
  display: block;
  height: 0%;
  width: 100%;
}

.segment[data-active="true"] {
  height: 100%;
}

.segment[data-strength="0"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-fill-semantic-error);
}

.segment[data-strength="1"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-fill-semantic-warning);
}

.segment[data-strength="2"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-fill-semantic-success);
}

.segment[data-strength="3"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-fill-semantic-info);
}
