.track {
  background-color: var(--hoam-color-neutral-600);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 10px;
  margin-bottom: var(--hoam-spacing-xs);
  width: 100%;
}

.segment {
  display: block;
  height: 0%;
  width: 100%;
}

.segment[data-active="true"] {
  height: 100%;
}

.segment[data-strength="0"] {
  background-color: var(--hoam-color-semantic-error);
}

.segment[data-strength="1"] {
  background-color: var(--hoam-color-semantic-warning);
}

.segment[data-strength="2"] {
  background-color: var(--hoam-color-semantic-success);
}

.segment[data-strength="3"] {
  background-color: var(--hoam-color-semantic-info);
}
