.hoam-password-strength__track {
  background-color: var(--hoam-color-neutral-600);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 10px;
  margin-bottom: var(--hoam-spacing-2);
  width: 100%;
}

.hoam-password-strength__segment {
  display: block;
  height: 0%;
  width: 100%;
}

.hoam-password-strength__segment[data-active="true"] {
  height: 100%;
}

.hoam-password-strength__segment[data-strength="0"] {
  background-color: var(--hoam-color-semantic-error);
}

.hoam-password-strength__segment[data-strength="1"] {
  background-color: var(--hoam-color-semantic-warning);
}

.hoam-password-strength__segment[data-strength="2"] {
  background-color: var(--hoam-color-semantic-success);
}

.hoam-password-strength__segment[data-strength="3"] {
  background-color: var(--hoam-color-semantic-info);
}
