.track {
  background-color: var(--hoam-color-surface-default);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 10px;
  margin-bottom: var(--hoam-spacing-xs);
  width: 100%;
}

.segment {
  background-color: var(--hoam-color-surface-default);
  display: block;
  height: 0%;
  width: 100%;
}

.segment[data-active="true"] {
  height: 100%;
}

.segment[data-strength="0"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-feedback-error);
}

.segment[data-strength="1"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-feedback-warning);
}

.segment[data-strength="2"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-feedback-success);
}

.segment[data-strength="3"] {
  --hoam-password-meter-color-segment-bg: var(--hoam-color-feedback-info);
}
