.root {
  width: 100%;
  min-width: 0;
  grid-column: var(--gi-start) / span var(--gi-span);
}

@media (min-width: 40rem) {
  .root {
    grid-column: var(--gi-start-sm) / span var(--gi-span-sm);
  }
}

@media (min-width: 48rem) {
  .root {
    grid-column: var(--gi-start-md) / span var(--gi-span-md);
  }
}

@media (min-width: 64rem) {
  .root {
    grid-column: var(--gi-start-lg) / span var(--gi-span-lg);
  }
}

@media (min-width: 80rem) {
  .root {
    grid-column: var(--gi-start-xl) / span var(--gi-span-xl);
  }
}
