@import "@/styles/media.css";

.root {
  display: grid;
  margin: 0 auto;
  min-width: 0;
  position: relative;
}

@media (--hoam-hoverable) {
  .root:hover .image {
    transform: scale(1.05);
  }
}

.badges {
  left: var(--hoam-spacing-xs);
  position: absolute;
  top: var(--hoam-spacing-xs);
  width: calc(100% - var(--hoam-spacing-md));
  z-index: var(--hoam-layer-raised);
}

.imageWrapper {
  border-radius: var(--hoam-border-radius-default);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  height: auto;
  transition: transform var(--hoam-transition-duration-short) var(--hoam-transition-function-circ);
  width: 100%;
}

@media (--hoam-motion-reduce) {
  .image {
    transition: none !important;
  }
}

.link {
  color: var(--hoam-color-link-default);
  display: block;
  font: var(--hoam-typography-title-3);
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
}

.link::after {
  top: 0;
  padding-bottom: 100%;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: var(--hoam-layer-base);
}

@media (--hoam-hoverable) {
  .link:hover {
    text-decoration: underline;
  }
}

.title {
  display: block;
  font: var(--hoam-typography-title-4);
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  font: var(--hoam-typography-body-1);
}

.price[data-price-status="previous"] {
  color: var(--hoam-color-feedback-error);
  font-style: italic;
  margin-left: var(--hoam-spacing-xs);
  text-decoration: line-through;
}

.save {
  position: absolute;
  bottom: var(--hoam-spacing-sm);
  right: var(--hoam-spacing-sm);
  z-index: var(--hoam-layer-raised);
}

.description {
  display: -webkit-box;
  font: var(--hoam-typography-label-1);
  line-clamp: 2;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  overflow-wrap: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content {
  min-width: 0;
  padding: var(--hoam-spacing-xs) 0;
  text-align: center;
}

.button {
  margin: var(--hoam-spacing-xs) auto 0;
  position: relative;
}
