.root {
  display: grid;
  position: relative;
}

.root:hover .image {
  transform: scale(1.1);
}

.badges {
  left: var(--hoam-spacing-2);
  position: absolute;
  top: var(--hoam-spacing-2);
  width: calc(100% - var(--hoam-spacing-4));
  z-index: var(--hoam-layer-raised);
}

.imageWrapper {
  animation: hoam-product-tile-image-loading 1.5s linear infinite;
  background: linear-gradient(90deg, #eeea 30%, #fffa, #eeea 60%) right/300% 100%;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  height: auto;
  transition: transform 100ms ease-in-out;
  width: 100%;
}

.link {
  color: var(--hoam-color-text-link);
  font: var(--hoam-typography-title-3);
  display: block;
  text-decoration: none;
}

.link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--hoam-layer-base);
}

.button {
  margin-top: var(--hoam-spacing-3);
  position: relative;
  z-index: var(--hoam-layer-raised);
}

.title {
  font: var(--hoam-typography-title-4);
}

.price {
  font: var(--hoam-typography-body-1);
}

.price[data-price-status="previous"] {
  color: var(--hoam-color-semantic-error);
  font-style: italic;
  margin-left: var(--hoam-spacing-2);
  text-decoration: line-through;
}

.description {
  font: var(--hoam-typography-label-1);
}

@keyframes hoam-product-tile-image-loading {
  to {
    background-position: left;
  }
}
