@import "@/styles/_media.css";

:root {
  --hoam-product-tile-color-text-link: var(--hoam-color-text-primary);
  --hoam-product-tile-color-price-previous: var(--hoam-color-text-semantic-error);
}

.root {
  display: grid;
  position: relative;
  margin: 0 auto;
  max-width: 32rem;
}

@media (--hoam-hoverable) {
  .root:hover .image {
    transform: scale(1.1);
  }
}

.badges {
  left: var(--hoam-spacing-xs);
  position: absolute;
  top: var(--hoam-spacing-xs);
  width: calc(100% - var(--hoam-spacing-md));
}

.imageWrapper {
  background: linear-gradient(90deg, #eeea 30%, #fffa, #eeea 60%) right/300% 100%;
  border-radius: var(--hoam-border-radius-default);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  height: auto;
  transition: transform 100ms ease-in-out;
  width: 100%;
}

@media (--hoam-motion-reduce) {
  .image {
    transition: none !important;
  }
}

.link {
  color: var(--hoam-product-tile-color-text-link);
  font: var(--hoam-typography-title-3);
  display: block;
  text-decoration: none;
}

.link::after {
  top: 0;
  padding-bottom: 100%;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: var(--hoam-layer-base);
}

.title {
  font: var(--hoam-typography-title-4);
}

.price {
  font: var(--hoam-typography-body-1);
}

.price[data-price-status="previous"] {
  color: var(--hoam-product-tile-color-price-previous);
  font-style: italic;
  margin-left: var(--hoam-spacing-xs);
  text-decoration: line-through;
}

.save {
  position: absolute;
  bottom: var(--hoam-spacing-sm);
  right: var(--hoam-spacing-sm);
  z-index: var(--hoam-layer-raised);
}

.description {
  font: var(--hoam-typography-label-1);
}

.content {
  padding: var(--hoam-spacing-xs) 0;
  text-align: center;
}

.button {
  margin: var(--hoam-spacing-xs) auto 0;
  position: relative;
}
