.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-md);
  padding: 0 var(--hoam-spacing-lg);
  text-align: center;
}

.icon {
  background-color: var(--hoam-color-surface-alpha-soft);
  border-radius: var(--hoam-border-radius-full);
  display: inline-flex;
  margin: 0 auto;
}

.title {
  font: var(--hoam-typography-title-3);
}
