.root {
  display: grid;
  gap: var(--hoam-spacing-5);
  padding: var(--hoam-spacing-5) 0;
}

.button {
  margin: auto;
}

.image {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.title {
  text-align: center;
}
