.link {
  color: var(--hoam-color-text-link);
  font: var(--hoam-typography-body-1);
  text-decoration: none;
}

.link:hover {
  color: var(--hoam-color-text-link-hover);
  text-decoration: underline;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font: var(--hoam-typography-title-3);
  margin-bottom: var(--hoam-spacing-1);
}

.topLevelItem {
  border-bottom: var(--hoam-border-size-default) var(--hoam-color-border);
  margin-bottom: var(--hoam-spacing-6);
  padding-bottom: var(--hoam-spacing-6);
}
