.link {
  color: var(--hoam-color-text-link);
  font: var(--hoam-typography-body-1);
  text-decoration: none;
}

.link:hover {
  color: var(--hoam-color-text-link-hover);
  text-decoration: underline;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font: var(--hoam-typography-label-1);
  margin-bottom: var(--hoam-spacing-2xs);
  text-transform: uppercase;
}

.topLevelItem {
  border-bottom: var(--hoam-border-size-default) var(--hoam-color-border);
  margin-bottom: var(--hoam-spacing-xl);
  padding-bottom: var(--hoam-spacing-xl);
}
