@import "@/styles/_media.css";

:root {
  --hoam-sidebar-nav-color-link: var(--hoam-color-text-primary);
  --hoam-sidebar-nav-color-link-interact: var(--hoam-color-text-secondary);
  --hoam-sidebar-nav-color-item-border: var(--hoam-color-border-primary);
}

.link {
  color: var(--hoam-sidebar-nav-color-link);
  font: var(--hoam-typography-body-1);
  text-decoration: none;
}

@media (--hoam-hoverable) {
  .link:hover {
    color: var(--hoam-sidebar-nav-color-link-interact);
    text-decoration: underline;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font: var(--hoam-typography-label-1);
  margin-bottom: var(--hoam-spacing-2xs);
  text-transform: uppercase;
}

.topLevelItem {
  border-bottom: var(--hoam-border-size-default) var(--hoam-sidebar-nav-color-item-border);
  margin-bottom: var(--hoam-spacing-xl);
  padding-bottom: var(--hoam-spacing-xl);
}
