# build output
dist/
src/styles/_variables.css
src/styles/variables.json
src/design-tokens/icons.json
src/design-tokens/build/
public/icons/icons.svg
coverage


# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# misc
doctor-storybook.log
*storybook.log
storybook-static
.NOTES