{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "printWidth": 150,
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
