.root {
  border: 0;
  display: grid;
  gap: var(--hoam-spacing-4);
  min-inline-size: 0;
  margin: 0;
  padding: 0;
}

.legend {
  display: block;
  font: var(--hoam-typography-title-4);
  padding: 0;
}

.required {
  color: inherit;
}

.description {
  margin: 0;
}

.items {
  display: grid;
  gap: var(--hoam-spacing-2);
}

.error {
  margin: 0;
}
