.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.control {
  position: relative;
}

.label {
  cursor: pointer;
  display: inline-flex;
  gap: var(--hoam-spacing-xs);
}

.labelRow {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-2xs);
}

.labelText {
  font: var(--hoam-typography-label-1);
}

.labelValue {
  color: var(--hoam-color-accent-default);
  font: var(--hoam-typography-label-2);
}

.input {
  appearance: none;
  background-color: var(--hoam-color-surface-inverse);
  border: var(--hoam-border-size-default) var(--hoam-color-border-default);
  border-radius: var(--hoam-border-radius-default);
  color: var(--hoam-color-text-default);
  cursor: pointer;
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-xs) var(--hoam-spacing-2xl) var(--hoam-spacing-xs) var(--hoam-spacing-sm);
  width: 100%;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid currentColor;
  color: var(--hoam-color-text-default);
  pointer-events: none;
  position: absolute;
  right: var(--hoam-spacing-md);
  top: 50%;
  transform: translateY(-50%);
}
