:root {
  --hoam-select-color-label-value-text: var(--hoam-color-text-grey);
  --hoam-select-color-input-bg: var(--hoam-color-fill-light);
  --hoam-select-color-input-border: var(--hoam-color-border-grey);
  --hoam-select-color-input-text: var(--hoam-color-text-dark);
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.label {
  cursor: pointer;
  display: inline-flex;
  gap: var(--hoam-spacing-xs);
}

.labelRow {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-2xs);
}

.labelText {
  font: var(--hoam-typography-label-1);
}

.labelValue {
  color: var(--hoam-select-color-label-value-text);
  font: var(--hoam-typography-label-2);
}

.input {
  appearance: none;
  background-color: var(--hoam-select-color-input-bg);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right var(--hoam-spacing-md) center;
  border: var(--hoam-border-size-default) var(--hoam-select-color-input-border);
  border-radius: var(--hoam-border-radius-default);
  color: var(--hoam-select-color-input-text);
  cursor: pointer;
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-xs) var(--hoam-spacing-2xl) var(--hoam-spacing-xs) var(--hoam-spacing-sm);
}
