.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-2);
}

.label {
  cursor: pointer;
  display: inline-flex;
  gap: var(--hoam-spacing-2);
}

.labelRow {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-1);
}

.labelText {
  font: var(--hoam-typography-label-1);
}

.labelValue {
  color: var(--hoam-color-neutral-600);
  font: var(--hoam-typography-label-2);
}

.input {
  appearance: none;
  background-color: var(--hoam-color-neutral-900);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right var(--hoam-spacing-4) center;
  border: var(--hoam-border-size-default) var(--hoam-color-neutral-300);
  border-radius: var(--hoam-border-radius-small);
  color: var(--hoam-color-neutral-100);
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-4);
}
