@import "@/styles/_media.css";

:root {
  --hoam-size-quantity-selector: 40px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.inner {
  display: inline-flex;
  align-items: center;
}

.input {
  background-color: var(--hoam-color-neutral-900);
  border: none;
  color: var(--hoam-color-neutral-100);
  font: var(--hoam-typography-body-1);
  height: var(--hoam-size-quantity-selector);
  outline: none;
  padding: 0;
  text-align: center;
  width: var(--hoam-size-quantity-selector);
}

.label {
  display: flex;
  font: var(--hoam-typography-label-1);
}

.button {
  border: none;
  border-radius: var(--hoam-border-radius-default);
  height: var(--hoam-size-quantity-selector);
  outline: none;
  width: var(--hoam-size-quantity-selector);
}

@media (--hoam-hoverable) {
  .button:not(:disabled):hover {
    background-color: var(--hoam-color-quantity-bg-hover);
    cursor: pointer;
  }
}

.button:disabled {
  opacity: 0.6;
}

.button[data-position="left"] {
  background-color: var(--hoam-color-neutral-800);
  color: var(--hoam-color-neutral-100);
}

.button[data-position="right"] {
  background-color: var(--hoam-color-neutral-100);
  color: var(--hoam-color-neutral-900);
}
