@import "@/styles/media.css";

:root {
  --hoam-size-quantity-selector: 40px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.inner {
  display: inline-flex;
  align-items: center;
  background: var(--hoam-color-surface-inverse);
  border: var(--hoam-border-size-default) var(--hoam-color-border-soft);
  border-radius: var(--hoam-border-radius-default);
  overflow: hidden;
  justify-content: space-between;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--hoam-color-text-default);
  font: var(--hoam-typography-body-1);
  height: var(--hoam-size-quantity-selector);
  outline: none;
  padding: 0;
  text-align: center;
  width: var(--hoam-size-quantity-selector);
}

.label {
  display: flex;
  font: var(--hoam-typography-label-1);
}

.button {
  border: none;
  border-radius: 0;
  height: var(--hoam-size-quantity-selector);
  outline: none;
  transition:
    background-color var(--hoam-transition-duration-short) var(--hoam-transition-function-quad),
    color var(--hoam-transition-duration-short) var(--hoam-transition-function-quad);
  width: var(--hoam-size-quantity-selector);
}

@media (--hoam-hoverable) {
  .button:not(:disabled):hover {
    background-color: var(--hoam-color-surface-accent-soft);
    cursor: pointer;
  }
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button[data-position="left"] {
  background-color: var(--hoam-color-surface-default);
  color: var(--hoam-color-text-inverse);
}

.button[data-position="right"] {
  background-color: var(--hoam-color-surface-accent);
  color: var(--hoam-color-text-inverse);
}
