.hoam-quantity-selector__inner {
  display: inline-flex;
  align-items: center;
}

.hoam-quantity-selector__input {
  width: 60px;
  text-align: center;
  border: none;
  outline: none;
  font: var(--hoam-typography-body-1);
}

.hoam-quantity-selector__label {
  display: flex;
  font: var(--hoam-typography-label-1);
  margin-bottom: var(--hoam-spacing-2);
}
