:root {
  /* TODO: use @property instead of css vars */
  --hoam-button-spacing-horizontal: var(--hoam-spacing-5);
  --hoam-button-spacing-vertical: var(--hoam-spacing-3);
  --hoam-button-border-radius: 5px;
  --hoam-button-content-gap: var(--hoam-spacing-2);
  --hoam-button-min-height: 50px;
}

.hoam-button {
  background-color: var(--hoam-button-color-fill);
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  border-radius: var(--hoam-button-border-radius);
  box-shadow: 0 0 0 0 transparent;
  color: var(--hoam-color-neutral-100);
  cursor: pointer;
  display: flex;
  gap: var(--hoam-button-content-gap);
  font: var(--hoam-typography-button-1);
  line-height: 1.375; /* TODO: Calculate programatically */
  min-height: var(--hoam-button-min-height);
  outline: none;
  padding: var(--hoam-button-spacing-vertical) var(--hoam-button-spacing-horizontal);
  text-decoration: none;
  white-space: nowrap;
}

.hoam-button[data-variant="primary"] {
  --hoam-button-color-fill: var(--hoam-color-moon-700);
  --hoam-button-color-fill-hover: var(--hoam-color-moon-500);
}

.hoam-button[data-variant="secondary"] {
  --hoam-button-color-fill: var(--hoam-color-sun-200);
  --hoam-button-color-fill-hover: var(--hoam-color-sun-300);
}

.hoam-button:not(:disabled):hover {
  background-color: var(--hoam-button-color-fill-hover);
}

.hoam-button:disabled {
  --hoam-button-color-fill: var(--hoam-color-neutral-700);
  cursor: not-allowed;
}

.hoam-button:focus-visible {
  box-shadow:
    0 0 0 2px white,
    0 0 0 6px yellow;
}

.hoam-button__icon {
  align-items: center;
  display: inline-flex;
}

.hoam-button[data-icon-position="left"] .hoam-button__icon,
.hoam-button[data-icon-position="right"] .hoam-button__content {
  order: 1;
}

.hoam-button[data-icon-position="left"] .hoam-button__content,
.hoam-button[data-icon-position="right"] .hoam-button__icon {
  order: 2;
}
