:root {
  --hoam-button-spacing-horizontal: var(--hoam-spacing-lg);
  --hoam-button-spacing-vertical: var(--hoam-spacing-sm);
  --hoam-button-border-radius: var(--hoam-border-radius-small);
  --hoam-button-content-gap: var(--hoam-spacing-xs);
  --hoam-button-min-height: 50px;
  --hoam-button-font: var(--hoam-typography-button-1);
}

.root {
  background-color: var(--hoam-button-color-fill);
  border: var(--hoam-border-size-default) var(--hoam-button-border-color);
  border-radius: var(--hoam-button-border-radius);
  color: var(--hoam-button-color-text);
  cursor: pointer;
  display: flex;
  gap: var(--hoam-button-content-gap);
  font: var(--hoam-button-font);
  line-height: 1.375;
  min-height: var(--hoam-button-min-height);
  outline: none;
  padding: var(--hoam-button-spacing-vertical) var(--hoam-button-spacing-horizontal);
  text-decoration: none;
  white-space: nowrap;
}

.root[data-size="small"] {
  --hoam-button-spacing-horizontal: var(--hoam-spacing-sm);
  --hoam-button-spacing-vertical: var(--hoam-spacing-xs);
  --hoam-button-content-gap: var(--hoam-spacing-xs);
  --hoam-button-min-height: 20px;
  --hoam-button-font: var(--hoam-typography-label-1);
  font-weight: 700;
}

.root[data-variant="primary"] {
  --hoam-button-color-fill: var(--hoam-color-neutral-100);
  --hoam-button-color-text: var(--hoam-color-neutral-900);
  --hoam-button-border-color: var(--hoam-color-neutral-100);
}

.root[data-variant="secondary"] {
  --hoam-button-color-fill: var(--hoam-color-neutral-900);
  --hoam-button-color-text: var(--hoam-color-neutral-100);
  --hoam-button-border-color: var(--hoam-color-neutral-100);
}

.root[data-variant="primary"]:not(:disabled):hover,
.root[data-variant="secondary"]:not(:disabled):hover {
  --hoam-button-color-fill: var(--hoam-color-sun-500);
  --hoam-button-border-color: var(--hoam-button-color-fill);
  --hoam-button-color-text: var(--hoam-color-neutral-900);
}

.root:disabled {
  --hoam-button-color-fill: var(--hoam-color-neutral-700);
  cursor: not-allowed;
}

.icon {
  align-items: center;
  display: inline-flex;
}

.root[data-icon-position="left"] .icon,
.root[data-icon-position="right"] .content {
  order: 1;
}

.root[data-icon-position="left"] .content,
.root[data-icon-position="right"] .icon {
  order: 2;
}
