:root {
  --hoam-form-color-bg: var(--hoam-color-fill-light);
  --hoam-form-color-field-border: var(--hoam-color-border-accent);
  --hoam-form-color-field-border-error: var(--hoam-color-border-semantic-error);
}

.root {
  background-color: var(--hoam-form-color-bg);
  border-radius: var(--hoam-border-radius-default);
  display: grid;
  gap: var(--hoam-spacing-md);
  padding: var(--hoam-spacing-xl);
}

.controls {
  display: grid;
  gap: var(--hoam-spacing-2xl);
  grid-template-columns: auto 1fr;
}

.submit {
  margin-top: auto;
  justify-content: center;
}

.title {
  font: var(--hoam-typography-title-3);
}

.textField {
  border-radius: var(--hoam-border-radius-default);
  border: var(--hoam-border-size-default) var(--hoam-form-color-field-border);
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-sm) var(--hoam-spacing-md);
  width: 100%;
}

.textField[data-valid="false"] {
  border: var(--hoam-border-size-default) var(--hoam-form-color-field-border-error);
}
