@import "@/styles/media.css";

.root {
  aspect-ratio: 16/9;
  border-radius: var(--hoam-border-radius-default);
  display: flex;
  overflow: hidden;
  position: relative;
}

.root::after {
  background-color: var(--hoam-color-surface-default);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (--hoam-hoverable) {
  .root:hover .image {
    transform: scale(1.1);
  }
}

.image {
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform var(--hoam-transition-duration-short) var(--hoam-transition-function-circ);
  width: 100%;
}

@media (--hoam-motion-reduce) {
  .image {
    transition: none !important;
  }
}

.text {
  bottom: var(--hoam-spacing-md);
  color: var(--hoam-color-surface-inverse);
  font: var(--hoam-typography-title-3);
  left: var(--hoam-spacing-md);
  position: absolute;
  z-index: var(--hoam-layer-raised);
}
