.root {
  aspect-ratio: 16/9;
  border-radius: var(--hoam-border-radius-small);
  display: flex;
  overflow: hidden;
  position: relative;
}

.root::after {
  background-color: var(--hoam-color-neutral-100);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.root:hover .image {
  transform: scale(1.1);
}

.image {
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 0.125s ease-in-out;
  width: 100%;
}

.text {
  bottom: var(--hoam-spacing-md);
  color: var(--hoam-color-neutral-900);
  font: var(--hoam-typography-title-3);
  left: var(--hoam-spacing-md);
  position: absolute;
  z-index: var(--hoam-layer-raised);
}
