.root {
  display: grid;
}

.root[data-layout="vertical"] {
  grid-template-columns: 300px 1fr;
}

.root[data-layout="horizontal"] {
  grid-template-rows: 60px 1fr;
}

.root[data-layout="horizontal"] .list {
  display: flex;
}

.control {
  background-color: var(--hoam-color-moon-100);
  border: none;
  cursor: pointer;
  font: var(--hoam-typography-body-1);
  padding: var(--hoam-spacing-4);
  position: relative;
  width: 100%;
}

.control:focus-visible {
  z-index: 1;
}

.control:not(:first-child) {
  border-top: var(--hoam-border-default-size) var(--hoam-color-moon-300);
}

.control[data-active="true"] {
  background-color: var(--hoam-color-moon-200);
}

.panel {
  padding: var(--hoam-spacing-6);
}
