.root {
  display: grid;
}

.root[data-layout="vertical"] {
  gap: var(--hoam-spacing-3xl);
  grid-template-columns: 200px 1fr;

  @media (min-width: 60rem) {
    grid-template-columns: 300px 1fr;
  }
}

.root[data-layout="horizontal"] {
  gap: var(--hoam-spacing-xl);
}

.root[data-layout="horizontal"] .list {
  overflow-x: auto;
  margin: calc(var(--hoam-spacing-md) * -1);
  padding: var(--hoam-spacing-md);
}

.root[data-layout="vertical"] .list {
  flex-direction: column;
}

.list {
  display: flex;
  gap: var(--hoam-spacing-md);
}
