@import "@/styles/breakpoints.css";

.root {
  display: grid;
}

.root[data-layout="vertical"] {
  gap: var(--hoam-spacing-3xl);
  grid-template-columns: 200px 1fr;

  @media (--hoam-breakpoint-lg-up) {
    grid-template-columns: 300px 1fr;
  }
}

.root[data-layout="horizontal"] {
  gap: var(--hoam-spacing-xl);
}

.root[data-layout="horizontal"] .list {
  border-bottom: var(--hoam-border-size-default) var(--hoam-color-border-soft);
  overflow-x: auto;
  margin: calc(var(--hoam-spacing-md) * -1);
  padding: var(--hoam-spacing-md) var(--hoam-spacing-md) calc(var(--hoam-spacing-md) + 1px);
}

.root[data-layout="vertical"] .list {
  border-right: var(--hoam-border-size-default) var(--hoam-color-border-soft);
  flex-direction: column;
  padding-right: var(--hoam-spacing-md);
}

.list {
  display: flex;
  gap: var(--hoam-spacing-md);
}

.panel {
  min-width: 0;
}
