.swiper {
  height: 600px;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  display: flex;
  position: relative;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hoam-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.hoam-hero__slide {
  align-items: center;
  background-color: var(--hoam-color-neutral-900);
  background-position: center right;
  background-size: auto 600px;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}

.hoam-hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-3);
  padding: var(--hoam-spacing-7);
  text-align: center;
  width: 50%;
}

.hoam-hero__content-link {
  display: inline-flex;
  justify-content: center;
  padding-top: var(--hoam-spacing-5);
}

/* TODO: tokenize */
.hoam-hero__subtitle {
  font: var(--hoam-typography-body-1);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.hoam-hero__text {
  font: var(--hoam-typography-title-2);
}

[data-theme="light"] .hoam-hero__title,
[data-theme="light"] .hoam-hero__subtitle,
[data-theme="light"] .hoam-hero__text {
  color: var(--hoam-color-neutral-900);
}

[data-position="right"] {
  justify-content: right;
}

[data-position="center"] {
  justify-content: center;
}

.hoam-hero__nav-btn {
  position: absolute;
  /* TODO: tokenize */
  z-index: 100;
}

.hoam-hero__nav-btn[data-direction="right"] {
  right: 0;
}

.hoam-hero__nav-btn[data-direction="left"] {
  left: 0;
}

.hoam__hero-controls {
  bottom: var(--hoam-spacing-3);
  position: absolute;
  z-index: 100;
}

.hoam-hero__bullet {
  --hoam-hero-pagination-size: 18px;
  background: none;
  border: 1px solid var(--hoam-color-sun-700);
  border-radius: 100%;
  cursor: pointer;
  height: var(--hoam-hero-pagination-size);
  overflow: hidden;
  text-indent: -9999px;
  width: var(--hoam-hero-pagination-size);
}

.hoam-hero__bullet\:active {
  background-color: var(--hoam-color-neutral-900);
}

.hoam-hero__bullet:hover {
  background-color: var(--hoam-color-sun-100);
}

.hoam-hero__pagination {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  gap: var(--hoam-spacing-2);
  padding: var(--hoam-spacing-3);
}
