@import "@/styles/_media.css";

.root {
  align-items: center;
  background-color: var(--hoam-color-hero-bg);
  color: var(--hoam-color-hero-text);
  display: flex;
  height: calc(100dvh - var(--hoam-navigation-bar-height) - var(--hoam-notification-bar-height));
  overflow: hidden;
  position: relative;
  min-height: 600px;
  width: 100%;
}

.root[data-theme="default"] {
  --hoam-color-hero-bg: var(--hoam-color-neutral-100);
  --hoam-color-hero-text: var(--hoam-color-neutral-900);
}

.root[data-theme="pink"] {
  --hoam-color-hero-bg: var(--hoam-color-pink-500);
  --hoam-color-hero-text: var(--hoam-color-lemon-500);
}

.root[data-theme="sky"] {
  --hoam-color-hero-bg: var(--hoam-color-sky-500);
  --hoam-color-hero-text: var(--hoam-color-lemon-500);
}

.media {
  display: none;

  @media (--hoam-breakpoint-sm-up) {
    aspect-ratio: 16/9;
    display: block;
    object-fit: cover;
  }
}

.background {
  display: none;

  @media (--hoam-breakpoint-sm-up) {
    position: absolute;
    z-index: var(--hoam-layer-base);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
  }
}

.backgroundImage,
.video {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
}

.content {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: var(--hoam-layer-raised);
}

.textContent {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--hoam-typography-title-1);
  text-transform: uppercase;
}

.subtitle {
  font: var(--hoam-typography-body-1);
  text-transform: uppercase;
}

.text {
  font: var(--hoam-typography-title-2);
}

.contentLink {
  padding-top: var(--hoam-spacing-xl);
}
