.swiper,
.root {
  height: 100dvh;
  width: 100%;

  @media (min-width: 1000px) {
    height: 600px;
  }
}

.swiper-slide {
  align-items: center;
  display: flex;
  position: relative;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.slide {
  align-items: center;
  background-color: var(--hoam-color-neutral-900);
  background-position: center right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;

  @media (min-width: 1000px) {
    background-size: auto 600px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-3);
  padding: var(--hoam-spacing-7);
  text-align: center;
  width: 100%;
  z-index: 1;

  /* TODO:  maybe use sass to bring in variables here */
  @media (min-width: 1000px) {
    width: 50%;
  }
}

.contentLink {
  display: inline-flex;
  justify-content: center;
  padding-top: var(--hoam-spacing-5);
}

/* TODO: tokenize */
.subtitle {
  font: var(--hoam-typography-body-1);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.text {
  font: var(--hoam-typography-title-2);
}

[data-theme="light"] .title,
[data-theme="light"] .subtitle,
[data-theme="light"] .text {
  color: var(--hoam-color-neutral-900);
}

[data-position="right"] {
  justify-content: right;
}

[data-position="center"] {
  justify-content: center;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navBtn {
  position: absolute;
  /* TODO: tokenize */
  z-index: 100;
}

.navBtn[data-direction="right"] {
  right: 0;
}

.navBtn[data-direction="left"] {
  left: 0;
}

.controls {
  bottom: var(--hoam-spacing-3);
  position: absolute;
  z-index: 100;
}
