:root {
  --image-size: 48px;
}

.root {
  border: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-1);
  margin-bottom: var(--hoam-spacing-2);
}

.legend {
  font: var(--hoam-typography-label-1);
  margin: 0;
}

.selected {
  font: var(--hoam-typography-label-2);
}

.visual {
  gap: var(--hoam-spacing-2);
}

.radio:checked + .visual .indicator {
  outline: 3px solid var(--hoam-color-moon-700);
}

.indicator {
  align-items: center;
  border-radius: 4px;
  border: 3px solid var(--hoam-color-neutral-900);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  height: var(--image-size);
  justify-content: center;
  overflow: hidden;
  min-width: calc(var(--image-size) * 2);
}

.item:hover .indicator {
  outline: 1px solid var(--hoam-color-moon-500);
}

.radio:focus-visible + .visual {
  outline: 3px solid var(--hoam-color-sun-700);
  outline-offset: 6px;
}

.items {
  display: flex;
  gap: var(--hoam-spacing-4);
}

.item {
  cursor: pointer;
}

.indicatorText {
  font: var(--hoam-typography-label-1);
  padding: 0 var(--hoam-spacing-2);
}

/* Horizontal Variant */
.items[aria-orientation="horizontal"] .label {
  text-align: center;
  width: var(--image-size);
  word-break: break-all;
}

.items[aria-orientation="horizontal"] .item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.items[aria-orientation="horizontal"] .visual {
  display: inline-flex;
  flex-direction: column;
}

/* Vertical Variant */
.items[aria-orientation="vertical"] {
  flex-direction: column;
}

.items[aria-orientation="vertical"] .visual {
  align-items: center;
  display: inline-flex;
}

[data-variant="image"] .indicator img {
  height: 100%;
  width: auto;
}
