@import "@/styles/_media.css";

:root {
  --image-size: 48px;
}

.root {
  border: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-2xs);
}

.legend {
  font: var(--hoam-typography-label-1);
  margin: 0;
}

.selected {
  color: var(--hoam-color-neutral-600);
}

.visual {
  border-radius: var(--hoam-border-radius-default);
  gap: var(--hoam-spacing-xs);
}

.radio:checked + .visual .indicator {
  outline: var(--hoam-border-size-medium) var(--hoam-color-variant-selector);
}

.indicator {
  align-items: center;
  border: var(--hoam-border-size-medium) var(--hoam-color-neutral-900);
  border-radius: var(--hoam-border-radius-default);
  box-shadow: var(--hoam-shadow-small);
  display: flex;
  height: var(--image-size);
  justify-content: center;
  overflow: hidden;
  min-width: calc(var(--image-size) * 2);
}

@media (--hoam-hoverable) {
  .item:hover .indicator {
    outline: var(--hoam-border-size-default) var(--hoam-color-variant-selector-hover);
  }
}

.items {
  display: flex;
  gap: var(--hoam-spacing-md);
}

.item {
  cursor: pointer;
}

.indicatorText {
  font: var(--hoam-typography-label-1);
  padding: 0 var(--hoam-spacing-xs);
}

/* Horizontal Variant */
.items[aria-orientation="horizontal"] .label {
  text-align: center;
  width: var(--image-size);
  word-break: break-all;
}

.items[aria-orientation="horizontal"] .item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.items[aria-orientation="horizontal"] .visual {
  display: inline-flex;
  flex-direction: column;
}

/* Vertical Variant */
.items[aria-orientation="vertical"] {
  flex-direction: column;
}

.items[aria-orientation="vertical"] .visual {
  align-items: center;
  display: inline-flex;
}

[data-variant="image"] .indicator img {
  height: 100%;
  width: auto;
}
