:root {
  --image-size: 48px;
}

.hoam-variant-selector {
  border: none;
  margin: 0;
  padding: 0;
}

.hoam-variant-selector__label {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-1);
  margin-bottom: var(--hoam-spacing-2);
}

.hoam-variant-selector__legend {
  font: var(--hoam-typography-label-1);
  margin: 0;
}

.hoam-variant-selector__selected {
  font: var(--hoam-typography-label-2);
}

.hoam-variant-selector__visual {
  gap: var(--hoam-spacing-2);
}

.hoam-variant-selector__radio:checked + .hoam-variant-selector__visual .hoam-variant-selector__indicator {
  outline: 3px solid var(--hoam-color-moon-700);
}

.hoam-variant-selector__indicator {
  align-items: center;
  border-radius: 4px;
  border: 3px solid var(--hoam-color-neutral-900);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  height: var(--image-size);
  justify-content: center;
  overflow: hidden;
  min-width: calc(var(--image-size) * 2);
}

.hoam-variant-selector__item:hover .hoam-variant-selector__indicator {
  outline: 1px solid var(--hoam-color-moon-500);
}

.hoam-variant-selector__radio:focus-visible + .hoam-variant-selector__visual {
  outline: 3px solid var(--hoam-color-sun-700);
  outline-offset: 6px;
}

.hoam-variant-selector__items {
  display: flex;
  gap: var(--hoam-spacing-4);
}

.hoam-variant-selector__item {
  cursor: pointer;
}

.hoam-variant-selector__indicator-text {
  font: var(--hoam-typography-label-1);
  padding: 0 var(--hoam-spacing-2);
}

/* Horizontal Variant */
.hoam-variant-selector__items[aria-orientation="horizontal"] .hoam-variant-selector__label {
  text-align: center;
  width: var(--image-size);
  word-break: break-all;
}

.hoam-variant-selector__items[aria-orientation="horizontal"] .hoam-variant-selector__item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.hoam-variant-selector__items[aria-orientation="horizontal"] .hoam-variant-selector__visual {
  display: inline-flex;
  flex-direction: column;
}

/* Vertical Variant */
.hoam-variant-selector__items[aria-orientation="vertical"] {
  flex-direction: column;
}

.hoam-variant-selector__items[aria-orientation="vertical"] .hoam-variant-selector__visual {
  align-items: center;
  display: inline-flex;
}

[data-variant="image"] .hoam-variant-selector__indicator img {
  height: 100%;
  width: auto;
}
