@import "@/styles/media.css";

:root {
  --hoam-variant-selector-image-size: 48px;
}

.root {
  border: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-2xs);
}

.legend {
  font: var(--hoam-typography-label-1);
  margin: 0;
}

.selected {
  color: var(--hoam-color-accent-default);
}

.visual {
  border-radius: var(--hoam-border-radius-default);
  gap: var(--hoam-spacing-xs);
}

.radio:checked + .visual .indicator {
  outline: var(--hoam-border-size-medium) var(--hoam-color-border-accent);
}

.indicator {
  align-items: center;
  border: var(--hoam-border-size-medium) var(--hoam-color-border-inverse);
  border-radius: var(--hoam-border-radius-default);
  box-shadow: var(--hoam-shadow-small);
  display: flex;
  height: var(--hoam-variant-selector-image-size);
  justify-content: center;
  overflow: hidden;
  min-width: calc(var(--hoam-variant-selector-image-size) * 2);
}

@media (--hoam-hoverable) {
  .item:hover .indicator {
    outline: var(--hoam-border-size-default) var(--hoam-color-border-accent);
  }
}

.items {
  display: grid;
  gap: var(--hoam-spacing-md);
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  background-color: var(--hoam-color-surface-inverse);
  cursor: pointer;
}

.indicatorText {
  font: var(--hoam-typography-label-1);
  padding: 0 var(--hoam-spacing-xs);
}

[data-variant="image"] .indicator {
  height: auto;
}

[data-variant="image"] .indicator img {
  height: auto;
  width: 100%;
}
