:root {
  --hoam-article-image-offset: 100px;
}

.hoam-article__header-wrapper {
  background-color: var(--hoam-color-neutral-800);
  padding-top: var(--hoam-spacing-8);
  padding-bottom: calc(var(--hoam-spacing-8) + var(--hoam-article-image-offset));
}

.hoam-article__header {
  display: grid;
  gap: var(--hoam-spacing-2);
}

.hoam-article__header-category {
  font: var(--hoam-typography-label-2);
  text-transform: uppercase;
}

.hoam-article__meta {
  display: flex;
  font: var(--hoam-typography-label-1);
  gap: var(--hoam-spacing-3);
}

.hoam-article__figure {
  display: grid;
  gap: var(--hoam-spacing-2);
  margin-top: calc(var(--hoam-article-image-offset) * -1);
  position: relative;
  z-index: 1;
}

.hoam-article__figcaption {
  font: var(--hoam-typography-label-1);
}

.hoam-article__body {
  padding: var(--hoam-spacing-7) 0;
}

.hoam-article__body p:is(:first-child) {
  font: var(--hoam-typography-title-2);
}

.hoam-article__footer {
  background-color: var(--hoam-color-moon-300);
}
