:root {
  --hoam-article-image-offset: 100px;
  --hoam-author-avatar-size: 20px;
}

.author {
  display: flex;
  gap: var(--hoam-spacing-1);
}

.authorLink {
  color: var(--hoam-color-blog-author-link);
  display: flex;
  gap: var(--hoam-spacing-2);
  text-decoration: none;
}

.authorLink:hover {
  color: var(--hoam-color-blog-author-link-hover);
  text-decoration: underline;
}

.authorAvatar {
  border-radius: var(--hoam-border-radius-full);
  height: var(--hoam-author-avatar-size);
  overflow: hidden;
  width: var(--hoam-author-avatar-size);
}

.headerWrapper {
  background-color: var(--hoam-color-blog-header-bg);
  padding-top: var(--hoam-spacing-8);
  padding-bottom: calc(var(--hoam-spacing-8) + var(--hoam-article-image-offset));
}

.header {
  display: grid;
  gap: var(--hoam-spacing-2);
}

.headerCategory {
  font: var(--hoam-typography-label-1);
  text-transform: uppercase;
}

.meta {
  flex-direction: column;
  font: var(--hoam-typography-label-1);
  display: flex;
  gap: var(--hoam-spacing-1);

  @media (min-width: 40rem) {
    flex-direction: row;
    gap: var(--hoam-spacing-3);
  }
}

.readingTime {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-2);
}

.socialLinks {
  display: flex;
  gap: var(--hoam-spacing-3);
  justify-content: start;
  margin-left: auto;
}

.socialLinks a {
  color: var(--hoam-color-neutral-100);
}

.socialLinks a:hover {
  color: var(--hoam-color-blog-social-hover);
}

.summary {
  font: var(--hoam-typography-title-4);
}

.tags {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-2);
  padding: var(--hoam-spacing-2) 0;
}

.tag {
  border: var(--hoam-border-size-default) var(--hoam-color-blog-tag-border);
  border-radius: var(--hoam-border-radius-small);
  color: var(--hoam-color-blog-tag-text);
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-1) var(--hoam-spacing-2);
  text-decoration: none;
}

.tag:hover {
  background-color: var(--hoam-color-blog-tag-bg-hover);
}

.tagsTitle {
  font: var(--hoam-typography-label-2);
  text-transform: uppercase;
}

.title {
  font: var(--hoam-typography-title-5);
}

.figure {
  display: grid;
  gap: var(--hoam-spacing-2);
  margin-top: calc(var(--hoam-article-image-offset) * -1);
  position: relative;
  z-index: var(--hoam-layer-raised);
}

.figcaption {
  font: var(--hoam-typography-label-1);
}

.body {
  padding: var(--hoam-spacing-7) 0;
}

.body p:is(:first-child) {
  font: var(--hoam-typography-title-2);
}

.footer {
  background-color: var(--hoam-color-blog-footer-bg);
}
