@import "@/styles/media.css";
@import "@/styles/breakpoints.css";

:root {
  --hoam-blog-article-image-offset: 100px;
  --hoam-blog-article-author-avatar-size: 20px;
}

.author {
  display: flex;
  gap: var(--hoam-spacing-2xs);
}

.authorLink {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-xs);
}

a.authorLink {
  color: var(--hoam-color-link-default);
  text-decoration: none;
}

@media (--hoam-hoverable) {
  a.authorLink:hover {
    color: var(--hoam-color-link-hover);
    text-decoration: underline;
  }
}

.authorAvatar {
  border-radius: var(--hoam-border-radius-full);
  height: var(--hoam-blog-article-author-avatar-size);
  overflow: hidden;
  width: var(--hoam-blog-article-author-avatar-size);
}

.headerWrapper {
  background-color: var(--hoam-color-surface-soft);
  padding-top: var(--hoam-spacing-3xl);
  padding-bottom: calc(var(--hoam-spacing-3xl) + var(--hoam-blog-article-image-offset));
}

.header {
  display: grid;
  gap: var(--hoam-spacing-xs);
}

.headerCategory {
  font: var(--hoam-typography-label-1);
  text-transform: uppercase;
}

.meta {
  flex-direction: column;
  font: var(--hoam-typography-label-1);
  display: flex;
  gap: var(--hoam-spacing-2xs);

  @media (--hoam-breakpoint-sm-up) {
    flex-direction: row;
    gap: var(--hoam-spacing-sm);
  }
}

.readingTime {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-xs);
}

.socialLinks {
  display: flex;
  gap: var(--hoam-spacing-sm);
  justify-content: start;
  margin-left: auto;
}

.socialLinks a {
  color: var(--hoam-color-link-default);
}

@media (--hoam-hoverable) {
  .socialLinks a:hover {
    color: var(--hoam-color-link-hover);
  }
}

.summary {
  font: var(--hoam-typography-title-4);
}

.tags {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-xs);
  padding: var(--hoam-spacing-xs) 0;
}

.tag {
  border: var(--hoam-border-size-default) var(--hoam-color-border-accent);
  border-radius: var(--hoam-border-radius-default);
  color: var(--hoam-color-link-default);
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-2xs) var(--hoam-spacing-xs);
  text-decoration: none;
}

@media (--hoam-hoverable) {
  .tag:hover {
    background-color: var(--hoam-color-link-hover);
  }
}

.tagsTitle {
  font: var(--hoam-typography-label-2);
  text-transform: uppercase;
}

.title {
  font: var(--hoam-typography-title-5);
}

.figure {
  display: grid;
  gap: var(--hoam-spacing-xs);
  margin-top: calc(var(--hoam-blog-article-image-offset) * -1);
  position: relative;
  z-index: var(--hoam-layer-raised);
}

.figcaption {
  font: var(--hoam-typography-label-1);
}

.body {
  padding: var(--hoam-spacing-2xl) 0;
}

.body p:is(:first-child) {
  font: var(--hoam-typography-title-2);
}

.footer {
  background-color: var(--hoam-color-surface-accent);
}

.wrapper {
  background-color: var(--hoam-color-surface-inverse);
}
