@import "@/styles/_media.css";

:root {
  --hoam-navigation-bar-height: 80px;
}

.root {
  display: block;
  position: relative;
  z-index: var(--hoam-layer-dropdown);
}

@media (--hoam-breakpoint-xl-up) {
  .root {
    display: none;
  }
}

.wrapper {
  height: var(--hoam-navigation-bar-height);
  padding: var(--hoam-spacing-md) 0;
}

.mobileMenu {
  background-color: var(--hoam-color-surface-inverse);
  display: none;
  height: calc(100dvh - var(--hoam-navigation-bar-height));
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--hoam-spacing-xl) 0;
  width: 100%;
}

.mobileMenu[data-state="open"] {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  background: none;
  border: none;
  color: var(--hoam-color-text-default);
  cursor: pointer;
  display: flex;
  gap: var(--hoam-spacing-2xs);
  justify-content: center;
  margin: var(--hoam-spacing-xs) 0;
  text-decoration: none;
  width: 100%;
}

.link .icon {
  position: relative;
  top: 2px;
}

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--hoam-spacing-2xs);
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  color: var(--hoam-navigation-color-mobile-menu-link);
  display: inline-flex;
  font: var(--hoam-typography-title-1);
  font-size: 2rem;
  text-decoration: none;
  width: 120px;
}

.panel {
  background-color: var(--hoam-color-surface-inverse);
  list-style: none;
  margin: 0;
  padding: 0;
}

.item[data-level="1"] {
  font: var(--hoam-typography-title-3);
}

.item[data-level="2"] {
  font: var(--hoam-typography-body-1);
}
