:root {
  --hoam-navigation-bar-height-mobile: 80px;
}

.root {
  display: block;
}

@media (min-width: 1200px) {
  .root {
    display: none;
  }
}

.wrapper {
  height: var(--hoam-navigation-bar-height-mobile);
  padding: var(--hoam-spacing-4);
}

.mobileMenu {
  background-color: var(--hoam-color-neutral-900);
  display: none;
  height: calc(100dvh - var(--hoam-navigation-bar-height-mobile));
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--hoam-spacing-6) 0;
  width: 100%;
}

.mobileMenu[data-state="open"] {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  background: none;
  border: none;
  color: var(--hoam-color-neutral-100);
  cursor: pointer;
  display: flex;
  gap: var(--hoam-spacing-1);
  justify-content: center;
  margin: var(--hoam-spacing-2) 0;
  text-decoration: none;
  width: 100%;
}

.link .icon {
  position: relative;
  top: 2px;
}

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--hoam-spacing-1);
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: inline-flex;
  width: 120px;
}

.panel {
  background-color: var(--hoam-color-neutral-900);
  list-style: none;
  margin: 0;
  padding: 0;
}

.item[data-level="1"] {
  font: var(--hoam-typography-title-3);
}

.item[data-level="2"] {
  font: var(--hoam-typography-body-1);
}
