/* TODO: Add clamp or other solution to handle smaller screens */

h1 {
  font: var(--hoam-typography-title-1);
}

h2 {
  font: var(--hoam-typography-title-2);
}

h3 {
  font: var(--hoam-typography-title-3);
}

h4 {
  font: var(--hoam-typography-title-4);
}

h5 {
  font: var(--hoam-typography-title-5);
}

h6 {
  font: var(--hoam-typography-title-6);
}

.body-text {
  display: grid;
  font: var(--hoam-typography-body-1);
  gap: var(--body-text-spacing, var(--hoam-spacing-4));
}

.body-text a:link,
.body-text a:visited {
  color: var(--hoam-color-moon-700);
  text-decoration: underline;
}

.body-text a:hover {
  color: var(--hoam-color-moon-800);
  text-decoration: none;
}

.body-text a:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 6px yellow;
  outline: none;
}

html {
  background-color: var(--hoam-color-moon-100);
}

main#content {
  background-color: var(--hoam-color-neutral-900);
}

hr {
  border-color: var(--hoam-color-moon-100);
  margin: var(--hoam-spacing-4) auto;
  width: 100%;
}
