/* TODO: Add clamp or other solution to handle smaller screens */

h1 {
  font: var(--hoam-typography-title-1);
}

h2 {
  font: var(--hoam-typography-title-2);
}

h3 {
  font: var(--hoam-typography-title-3);
}

h4 {
  font: var(--hoam-typography-title-4);
}

h5 {
  font: var(--hoam-typography-title-5);
}

h6 {
  font: var(--hoam-typography-title-6);
}

html {
  background-color: var(--hoam-color-moon-100);
}

main#content {
  background-color: var(--hoam-color-neutral-900);
}

hr {
  border-color: var(--hoam-color-moon-100);
  margin: var(--hoam-spacing-4) auto;
  width: 100%;
}
