[data-theme="default"] {
  /* TODO: These features probably shouldn't ALL be themeable */

  --hoam-color-primary: var(--hoam-color-sun-500);
  --hoam-color-secondary: var(--hoam-color-moon-500);

  --hoam-color-document-bg: var(--hoam-color-neutral-800);

  --hoam-color-footer-bg: var(--hoam-color-neutral-900);

  /* Components */
  --hoam-color-accordion-item-border: var(--hoam-color-primary);

  --hoam-color-basket-row-bg: var(--hoam-color-primary);
  --hoam-color-basket-link-hover: var(--hoam-color-primary);

  --hoam-color-blog-author-link: var(--hoam-color-primary);
  --hoam-color-blog-author-link-hover: --hoam-color-secondary;

  --hoam-color-blog-social-hover: var(--hoam-color-primary);
  --hoam-color-blog-tag-border: var(--hoam-color-primary);
  --hoam-color-blog-tag-text: var(--hoam-color-primary);
  --hoam-color-blog-tag-bg-hover: var(--hoam-color-primary);
  --hoam-color-blog-footer-bg: var(--hoam-color-primary);

  --hoam-color-breadcrumb-item: var(--hoam-color-primary);
  --hoam-color-breadcrumb-item-hover: var(--hoam-color-primary);

  --hoam-color-loading-border: var(--hoam-color-primary);

  --hoam-color-modal-header-border: var(--hoam-color-primary);

  --hoam-color-modal-body-border: var(--hoam-color-primary);

  --hoam-color-nav-item-color: var(--hoam-color-primary);

  --hoam-color-newsletter-bg: var(--hoam-color-primary);

  --hoam-color-notification-bar-bg: var(--hoam-color-neutral-900);

  --hoam-color-promo-background: var(--hoam-color-primary);

  --hoam-color-quantity-bg-hover: var(--hoam-color-primary);

  --hoam-color-switch-bg-active: var(--hoam-color-primary);

  --hoam-color-variant-selector: var(--hoam-color-primary);
  --hoam-color-variant-selector-hover: var(--hoam-color-secondary);

  /* Global */
  --hoam-color-text-link: var(--hoam-color-primary);
  --hoam-color-text-link-hover: var(--hoam-color-secondary);

  --hoam-color-border: var(--hoam-color-primary);
}
