[data-theme="default"] {
  /* TODO: These features probably shouldn't ALL be themeable */

  /* Components */
  --hoam-color-accordion-item-border: red;

  --hoam-color-basket-row-bg: red;
  --hoam-color-basket-row-bg-hover: red;
  --hoam-color-basket-link-hover: red;

  --hoam-color-blog-author-link: red;
  --hoam-color-blog-author-link-hover: blue;
  --hoam-color-blog-header-bg: red;
  --hoam-color-blog-social-hover: red;
  --hoam-color-blog-tag-border: red;
  --hoam-color-blog-tag-text: red;
  --hoam-color-blog-tag-bg-hover: red;
  --hoam-color-blog-footer-bg: red;

  --hoam-color-breadcrumb-item: red;
  --hoam-color-breadcrumb-item-hover: red;

  --hoam-color-loading-border: red;

  --hoam-color-modal-header-border: red;
  --hoam-color-modal-body-border: red;

  --hoam-color-nav-item-color: red;

  --hoam-color-newsletter-bg: red;

  --hoam-color-notification-bar-bg: lightgray;

  --hoam-color-promo-background: red;

  --hoam-color-quantity-bg-hover: red;

  --hoam-color-tab-bg: red;
  --hoam-color-tab-bg-active: blue;
  --hoam-color-tab-border: blue;

  --hoam-color-switch-bg-active: red;

  --hoam-color-variant-selector: red;
  --hoam-color-variant-selector-hover: blue;

  /* Global */
  --hoam-color-text-link: red;
  --hoam-color-text-link-hover: blue;

  --hoam-color-border: red;
}
