@import "@/styles/_media.css";

.root {
  font: var(--hoam-typography-body-1);
}

.root a:link,
.root a:visited {
  color: var(--hoam-color-text-link);
  text-decoration: underline;
}

@media (--hoam-hoverable) {
  .root a:hover {
    color: var(--hoam-color-text-link-hover);
    text-decoration: none;
  }
}

.root h1 {
  font: var(--hoam-typography-title-1);
}

.root h2 {
  font: var(--hoam-typography-title-3);
}

.root h3 {
  font: var(--hoam-typography-title-3);
}
