body {
  font: var(--hoam-typography-body-1);
}

html,
body {
  background-color: var(--hoam-color-surface-soft);
  color: var(--hoam-color-text-default);
}

a:focus-visible,
button:focus-visible,
select:focus-visible,
input:focus-visible {
  outline: 3px solid var(--hoam-color-border-accent);
  outline-offset: 6px;
}
