.focus:focus-visible,
.focus:focus-visible + .focusTarget {
  outline: 4px solid var(--hoam-color-border-highlight);
  outline-offset: 3px;
}

.justifyBetween {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focusableOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focusableOnly:focus-visible {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
}
