.focus:focus-visible,
.focus:focus-visible + .focusTarget {
  outline: 3px solid var(--hoam-color-sun-700);
  outline-offset: 6px;
}

.justifyBetween {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
