@import "@/styles/_media.css";

:root {
  --hoam-breadcrumb-color-item: var(--hoam-color-text-link);
  --hoam-breadcrumb-color-item-hover: var(--hoam-color-text-link-hover);
}

.root {
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-2xs) 0;
}

.list {
  display: flex;
  gap: var(--hoam-spacing-sm);
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem:not(:last-child)::after {
  content: "/";
  padding-left: var(--hoam-spacing-sm);
}

a.item:link,
a.item:visited {
  color: var(--hoam-breadcrumb-color-item);
}

@media (--hoam-hoverable) {
  a.item:hover {
    color: var(--hoam-breadcrumb-color-item-hover);
    text-decoration: none;
  }
}
