.hoam-breadcrumb {
  font: var(--hoam-typography-label-1);
  padding: var(--hoam-spacing-1) 0;
}

.hoam-breadcrumb__list {
  display: flex;
  gap: var(--hoam-spacing-3);
  list-style: none;
  margin: 0;
  padding: 0;
}

.hoam-breadcrumb__list-item:not(:last-child)::after {
  content: "/";
  padding-left: var(--hoam-spacing-3);
}

a.hoam-breadcrumb__item:link,
a.hoam-breadcrumb__item:visited {
  color: var(--hoam-color-moon-800);
}

a.hoam-breadcrumb__item:hover {
  color: var(--hoam-color-moon-700);
  text-decoration: none;
}

a.hoam-breadcrumb__item:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 6px yellow;
  outline: none;
}
