@import "@/styles/media.css";

.root {
  --skeleton-base: var(--hoam-color-surface-alpha-strong);
  --skeleton-highlight: var(--hoam-color-surface-alpha-soft);

  animation: skeleton-shimmer 2s var(--hoam-transition-function-quad) infinite;
  background: linear-gradient(90deg, var(--skeleton-base) 25%, var(--skeleton-highlight) 37%, var(--skeleton-base) 63%);
  background-size: 400% 100%;
  border-radius: var(--hoam-border-radius-default);
  display: block;
}

.rectangular {
  border-radius: var(--hoam-border-radius-default);
}

.text {
  border-radius: var(--hoam-border-radius-default);
}

.circular {
  border-radius: var(--hoam-border-radius-full);
}

@keyframes skeleton-shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media (--hoam-motion-reduce) {
  .root {
    animation: none;
  }
}
