:root {
  --hoam-promo-color-text: var(--hoam-color-text-light);
}

.root {
  background-position: center;
  background-size: cover;
  color: var(--hoam-promo-color-text);
  display: block;
  height: 100%;
  padding: var(--hoam-spacing-md);
  text-decoration: none;
}

.subtitle {
  font: var(--hoam-typography-label-1);
  text-transform: uppercase;
}

.title {
  font: var(--hoam-typography-title-3);
}
