@import "@/styles/media.css";

.root {
  container-type: inline-size;
  display: grid;
  row-gap: var(--hoam-spacing-md);
  width: 100%;
}

.row,
.footer {
  display: grid;
}

.row {
  background-color: var(--hoam-color-surface-inverse);
  border: var(--hoam-border-size-default) var(--hoam-color-border-soft);
  border-radius: var(--hoam-border-radius-default);
  gap: var(--hoam-spacing-md);
  grid-template-columns: minmax(72px, 96px) minmax(0, 1fr);
  grid-template-areas: "image text" "quantity price";
  transition:
    border-color var(--hoam-transition-duration-short) var(--hoam-transition-function-quad),
    box-shadow var(--hoam-transition-duration-short) var(--hoam-transition-function-quad);
}

@media (--hoam-hoverable) {
  .tbody .row:hover {
    border-color: var(--hoam-color-border-default);
    box-shadow: var(--hoam-shadow-medium);
  }
}

.thead {
  display: none;
  font: var(--hoam-typography-label-1);
  text-transform: uppercase;
}

.thead .row {
  padding: var(--hoam-spacing-md);
}

.row th {
  font: var(--hoam-typography-label-2);
}

.tbody {
  display: grid;
  row-gap: var(--hoam-spacing-md);
}

.tbody .row {
  padding: var(--hoam-spacing-lg) var(--hoam-spacing-md);
}

.row td,
.row th {
  min-width: 0;
  text-align: left;
}

.row img {
  display: block;
  height: auto;
  max-width: 100%;
}

.row td:nth-child(1) {
  grid-area: image;
}

.row td:nth-child(2) {
  grid-area: text;
}

.row td:nth-child(3) {
  grid-area: quantity;
}

.row td:nth-child(4) {
  grid-area: price;
}

.controls {
  display: flex;
  gap: var(--hoam-spacing-xs);
  margin-top: var(--hoam-spacing-md);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
  height: 100%;
  min-width: 0;
}

.footerContent {
  display: grid;
  gap: var(--hoam-spacing-md);
  justify-items: end;
}

.link {
  color: var(--hoam-color-link-default);
  min-width: 0;
  text-decoration: none;
}

@media (--hoam-hoverable) {
  .link:hover {
    text-decoration: underline;
  }
}

.price,
.quantity {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-xs);
  height: 100%;
}

.price {
  justify-content: end;
  min-width: 0;
  overflow-wrap: anywhere;
}

.summary {
  font: var(--hoam-typography-label-1);
  height: 1.5em;
  white-space: nowrap;
}

.title {
  font: var(--hoam-typography-title-4);
  display: -webkit-box;
  line-clamp: 2;
  max-height: 3em;
  overflow-wrap: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.summary,
.title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.root + .footer {
  margin-top: var(--hoam-spacing-md);
}

.empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
  height: 100%;
  justify-content: center;
  padding: var(--hoam-spacing-md);
  width: 100%;
}

@container (width > 48rem) {
  .row {
    display: grid;
    grid-template-columns: 150px minmax(0, 1fr) 100px 100px;
    grid-template-areas: "image text quantity price";
  }

  .thead {
    display: grid;
  }

  .row td:nth-child(3),
  .row th:nth-child(3) {
    text-align: center;
  }

  .row td:nth-child(4),
  .row th:nth-child(4) {
    text-align: right;
  }

  .priceLabel {
    display: none;
  }

  .title {
    display: block;
    height: 1.5em;
    white-space: nowrap;
  }

  .quantity {
    justify-content: center;
    padding-left: 0;
  }
}
