:root {
  --hoam-navigation-height: 420px;
}

.hoam-navigation {
  background-color: var(--hoam-color-neutral-900);
  display: none;
  height: auto;
}

@media (min-width: 1200px) {
  .hoam-navigation {
    display: block;
  }
}

.hoam-navigation__inner {
  display: grid;
  gap: var(--hoam-spacing-2);
  grid-template-columns: 1fr 120px 1fr;
}

.hoam-navigation__link {
  align-items: center;
  background: none;
  border: none;
  color: var(--hoam-color-moon-700);
  cursor: pointer;
  display: inline-flex;
  font: var(--hoam-typography-body-1);
  height: 80px;
  padding: var(--hoam-spacing-1) var(--hoam-spacing-2);
  text-decoration: none;
}

.hoam-navigation__link:hover,
.hoam-navigation__link:focus {
  color: var(--hoam-color-moon-900);
  text-decoration: underline;
}

.hoam-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--hoam-spacing-2);
}

.hoam-navigation__list[data-alignment="right"] {
  justify-content: flex-end;
}

.hoam-navigation__logo {
  align-items: center;
  display: inline-flex;
  width: 120px;
}

.hoam-navigation__panel {
  background-color: var(--hoam-color-moon-100);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  height: var(--hoam-navigation-height);
  left: 0;
  position: absolute;
  top: auto;
  width: 100dvw;
}

.hoam-navigation__panel-top-level {
  height: var(--hoam-navigation-height);
  padding: var(--hoam-spacing-4) 0;
  position: relative;
  width: 30%;
}

.hoam-navigation__panel-sub-level {
  background-color: var(--hoam-color-moon-200);
  height: var(--hoam-navigation-height);
  left: 100%;
  overflow: auto;
  padding: var(--hoam-spacing-4);
  position: absolute;
  top: 0;
  width: 233.333%; /* This should be 2.33 times the width of the parent to fill space correctly */
}

.hoam-navigation__panel-promo {
  background-color: orange;
  height: 100%;
}

.hoam-navigation__panel[hidden],
.hoam-navigation__panel-sub-level[hidden] {
  display: none;
}

.hoam-navigation__group-top-link {
  align-items: center;
  background: none;
  background-color: none;
  border: none;
  color: var(--hoam-color-moon-900);
  cursor: pointer;
  display: flex;
  font: var(--hoam-typography-body-1);
  justify-content: space-between;
  padding: var(--hoam-spacing-4);
  text-decoration: none;
  width: 100%;
}

.hoam-navigation__group-top-link:hover,
.hoam-navigation__group-top-link:focus-visible {
  background-color: var(--hoam-color-neutral-900);
}

.hoam-navigation__panel-sub-level[data-layout="list"] .hoam-navigation__panel-group {
  columns: 3;
  column-gap: var(--hoam-spacing-4);
}

.hoam-navigation__panel-sub-level[data-layout="list"] .hoam-navigation__panel-group-section {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
}

.hoam-navigation__panel-group-section {
  margin-bottom: var(--hoam-spacing-4);
}

.hoam-navigation__panel-sub-level[data-layout="thumbnail"] .hoam-navigation__panel-group-header {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-2);
}

.hoam-navigation__panel-group-section a[data-sub-link] {
  color: var(--hoam-color-moon-800);
  font: var(--hoam-typography-label-1);
  text-decoration: none;
}

.hoam-navigation__panel-group-section a[data-sub-link]:hover {
  color: var(--hoam-color-moon-900);
  text-decoration: underline;
}

a.hoam-navigation__panel-group-header[data-sub-link] {
  font: var(--hoam-typography-label-2);
  padding-bottom: var(--hoam-spacing-2);
  text-transform: uppercase;
}

@media (prefers-reduced-motion: reduce) {
  .hoam-navigation__panel,
  .hoam-navigation__panel-sub-level {
    transition: none !important;
  }
}

.hoam-navigation-promo {
  background-position: center;
  background-size: cover;
  color: var(--hoam-color-neutral-900);
  display: block;
  height: 100%;
  padding: var(--hoam-spacing-4);
  text-decoration: none;
}

.hoam-navigation-promo__subtitle {
  font: var(--hoam-typography-label-2);
  text-transform: uppercase;
}

.hoam-navigation-promo__title {
  font: var(--hoam-typography-title-2);
}
