@import "@/styles/_media.css";

:root {
  --hoam-navigation-height: 420px;
  --hoam-navigation-color-link-text: var(--hoam-color-text-light);
  --hoam-navigation-color-link-text-interact: var(--hoam-color-text-primary);
  --hoam-navigation-color-bg: var(--hoam-color-fill-dark);
  --hoam-navigation-color-panel-bg: var(--hoam-color-fill-grey-light);
  --hoam-navigation-color-panel-sub-bg: var(--hoam-color-fill-light);
  --hoam-navigation-color-group-text-link: var(--hoam-color-text-primary);
  --hoam-navigation-color-group-text-link-interact: var(--hoam-color-text-light);
}

.root {
  background-color: var(--hoam-navigation-color-bg);
  display: none;
  height: var(--hoam-navigation-bar-height);
  position: relative;
}

@media (--hoam-breakpoint-xl-up) {
  .root {
    display: block;
    flex: 0 0 auto;
  }
}

.inner {
  display: grid;
  gap: var(--hoam-spacing-xs);
  grid-template-columns: 1fr 120px 1fr;
}

.link {
  align-items: center;
  background: none;
  border: none;
  color: var(--hoam-navigation-color-link-text);
  cursor: pointer;
  display: inline-flex;
  font: var(--hoam-typography-button-1);
  height: var(--hoam-navigation-bar-height);
  padding: var(--hoam-spacing-2xs) var(--hoam-spacing-xs);
  text-decoration: none;
}

@media (--hoam-hoverable) {
  .link:hover {
    color: var(--hoam-navigation-color-link-text-interact);
  }
}

.link:focus {
  color: var(--hoam-navigation-color-link-text-interact);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--hoam-spacing-xs);
}

.list[data-alignment="right"] {
  justify-content: flex-end;
}

.logo {
  align-items: center;
  color: var(--hoam-navigation-color-link-text);
  display: inline-flex;
  font: var(--hoam-typography-title-1);
  font-size: 2rem;
  text-decoration: none;
  width: 120px;
}

.panel {
  background-color: var(--hoam-navigation-color-panel-bg);
  box-shadow: var(--hoam-shadow-small), var(--hoam-shadow-medium);
  height: var(--hoam-navigation-height);
  left: 0;
  max-width: 100%;
  position: absolute;
  top: auto;
  width: 100dvw;
  z-index: var(--hoam-layer-dropdown);
}

.panelTopLevel {
  height: var(--hoam-navigation-height);
  padding: var(--hoam-spacing-md) 0;
  position: relative;
  width: 30%;
}

.panelSubLevel {
  background-color: var(--hoam-navigation-color-panel-sub-bg);
  height: var(--hoam-navigation-height);
  left: 100%;
  overflow: auto;
  padding: var(--hoam-spacing-md);
  position: absolute;
  top: 0;
  width: 233.333%; /* This should be 2.33 times the width of the parent to fill space correctly */
}

.panelPromo {
  height: 100%;
}

.panel[hidden],
.panelSubLevel[hidden] {
  display: none;
}

.groupTopLink {
  align-items: center;
  background: none;
  background-color: none;
  border: none;
  color: var(--hoam-navigation-color-group-text-link);
  cursor: pointer;
  display: flex;
  font: var(--hoam-typography-body-1);
  justify-content: space-between;
  padding: var(--hoam-spacing-md);
  text-decoration: none;
  width: 100%;
}

@media (--hoam-hoverable) {
  .groupTopLink:hover {
    background-color: var(--hoam-navigation-color-group-text-link-interact);
  }
}

.groupTopLink:focus-visible {
  background-color: var(--hoam-navigation-color-group-text-link-interact);
}

.panelSubLevel[data-layout="list"] .panelGroup {
  columns: 3;
  column-gap: var(--hoam-spacing-md);
}

.panelSubLevel[data-layout="list"] .panelGroupSection {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
}

.panelGroupSection {
  margin-bottom: var(--hoam-spacing-md);
}

.panelGroupSectionGrid {
  display: grid;
  column-gap: var(--hoam-spacing-xs);
  grid-template-columns: 1fr 1fr;
}

.panelSubLevel[data-layout="thumbnail"] .panelGroupSection {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.panelSubLevel[data-layout="thumbnail"] .panelGroupSection a[data-sub-link] {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-xs);
}

.panelGroupSection a[data-sub-link] {
  color: var(--hoam-navigation-color-group-text-link);
  font: var(--hoam-typography-label-1);
  text-decoration: none;
}

.panelGroupSection a[data-sub-link].panelGroupHeaderFirst {
  font-weight: bold;
  margin-bottom: var(--hoam-spacing-2xs);
}

@media (--hoam-hoverable) {
  .panelGroupSection a[data-sub-link]:hover {
    color: var(--hoam-navigation-color-group-text-link-interact);
    text-decoration: underline;
  }
}

@media (--hoam-motion-reduce) {
  .panel,
  .panelSubLevel {
    transition: none !important;
  }
}

.promoWrapper {
  height: 100%;
}
