:root {
  --hoam-notification-bar-height: 45px;
}

.root {
  background-color: var(--hoam-color-notification-bar-bg);
  font: var(--hoam-typography-label-1);
  height: var(--hoam-notification-bar-height);
  padding: var(--hoam-spacing-sm);
  text-align: center;
  text-transform: uppercase;
}

.root a:link,
.root a:visited {
  color: var(--hoam-color-text-link);
  text-decoration: none;
}

.root a:hover {
  text-decoration: underline;
}
