@import "@/styles/_media.css";

:root {
  --hoam-notification-bar-height: 45px;
}

.root {
  background-color: var(--hoam-color-surface-inverse);
  font: var(--hoam-typography-label-1);
  height: var(--hoam-notification-bar-height);
  padding: var(--hoam-spacing-sm);
  text-align: center;
  text-transform: uppercase;
}

.root a:link,
.root a:visited {
  color: var(--hoam-color-link-default);
  text-decoration: none;
}

@media (--hoam-hoverable) {
  .root a:hover {
    text-decoration: underline;
  }
}
