.hoam-notification-bar {
  background-color: var(--hoam-color-moon-200);
  font: var(--hoam-typography-label-2);
  padding: var(--hoam-spacing-3);
  text-align: center;
  text-transform: uppercase;
}

.hoam-notification-bar a:link,
.hoam-notification-bar a:visited {
  color: var(--hoam-color-moon-700);
  text-decoration: none;
}

.hoam-notification-bar a:hover {
  text-decoration: underline;
}
