.root {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 999;
}

.root[data-variant="modal"] {
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease-out;
}

.root[data-open="true"] {
  opacity: 1;
  pointer-events: auto;
}

.root[data-open="false"] {
  opacity: 0;
  pointer-events: none;
}

.root[data-variant="drawer"] {
  align-items: start;
  justify-content: end;
  transition: opacity 200ms ease-out;
  width: 100%;
}

.dialog {
  background: var(--hoam-color-neutral-900);
  box-shadow: var(--hoam-shadow-large);
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  width: 100%;
}

.root[data-variant="modal"] .dialog {
  border-radius: var(--hoam-border-radius-small);
  max-height: calc(100dvh - var(--hoam-spacing-6));
  max-width: 1200px;
  width: fit-content;
  transform: translateY(4px);
  transition: transform 200ms ease-out;
}

.root[data-open="true"][data-variant="modal"] .dialog {
  transform: translateY(0);
}

.root[data-open="false"][data-variant="modal"] .dialog {
  transform: translateY(4px);
}

.root[data-variant="drawer"] .dialog {
  height: 100%;
  max-width: 500px;
  transform: translateX(150%);
  transition: transform 200ms ease-out;
  display: grid;
  grid-template-rows: 110px 1fr auto;
}

.root[data-open="true"][data-variant="drawer"] .dialog {
  transform: translateX(0%);
}

.root[data-open="false"][data-variant="drawer"] .dialog {
  transform: translateX(150%);
}

.root[data-variant="drawer"] .body {
  overflow-y: auto;
}

.header {
  align-items: center;
  display: flex;
  gap: var(--hoam-spacing-5);
  justify-content: space-between;
}

.header:has(+ .body:not(:empty)) {
  border-bottom: var(--hoam-border-size-default) var(--hoam-color-modal-header-border);
}

.body {
  overflow-y: auto;
}

.body:has(+ .footer:not(:empty)) {
  border-bottom: var(--hoam-border-size-default) var(--hoam-color-modal-body-border);
}

.header[data-padded="true"],
.body[data-padded="true"],
.footer[data-padded="true"] {
  padding: var(--hoam-spacing-5);
}

.closeButton {
  cursor: pointer;
}

.closeButton:only-child {
  margin-left: auto;
}

@media (prefers-reduced-motion: reduce) {
  .root {
    transition: none !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .root[data-open="true"],
  .root[data-open="false"] {
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .dialog {
    transition: none !important;
    transform: none !important;
  }
}
