.root {
  background-color: var(--hoam-color-newsletter-bg);
  padding: var(--hoam-spacing-8) var(--hoam-spacing-2);
}

.content {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-5);
}

.title {
  font: var(--hoam-typography-title-2);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: var(--hoam-spacing-4);
}

.socialLinks a {
  color: var(--hoam-color-neutral-100);
  font-size: var(--hoam-font-size-24);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--hoam-spacing-2);

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
