@import "@/styles/_media.css";

.root {
  background-color: var(--hoam-color-surface-accent-soft);
  padding: var(--hoam-spacing-3xl) var(--hoam-spacing-xs);
}

.content {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-lg);
}

.title {
  font: var(--hoam-typography-title-2);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: var(--hoam-spacing-md);

  a:link,
  a:visited {
    color: var(--hoam-color-link-default);
  }

  @media (--hoam-hoverable) {
    a:active,
    a:focus,
    a:hover {
      color: var(--hoam-color-link-hover);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--hoam-spacing-xs);

  @media (--hoam-breakpoint-sm-up) {
    flex-direction: row;
  }
}
