:root {
  --hoam-info-grid-color-bg: var(--hoam-color-fill-primary);
}

.root {
  background-color: var(--hoam-info-grid-color-bg);
}

.content {
  text-align: center;
}

.description {
  font: var(--hoam-typography-title-3);
}

.title {
  font: var(--hoam-typography-title-1);
  text-transform: uppercase;
}
