.root {
  display: grid;
  gap: var(--hoam-spacing-sm);
}

.color {
  width: 100%;
  height: 4.5rem;
  border-radius: var(--hoam-border-radius-default);
  border: var(--hoam-border-size-default) var(--hoam-color-border-default);
}

.content {
  display: grid;
  gap: var(--hoam-spacing-xs);
}

.name {
  font: var(--hoam-typography-label-1);
}

.value {
  font: var(--hoam-typography-label-1);
}

.code {
  font: var(--hoam-typography-label-1);
}
