:root {
  --hoam-search-form-height: 50px;
  --hoam-search-form-spacing: var(--hoam-spacing-6);
  --hoam-search-form-wrapper-height: calc(var(--hoam-search-form-height) * calc(var(--hoam-search-form-spacing) * 2));
}

.root {
  display: flex;
  gap: var(--hoam-spacing-4);
}

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(--hoam-spacing-4) 0;
}

.message {
  font: var(--hoam-typography-body-1);
  padding: var(--hoam-spacing-4) 0;
  text-align: center;
}

.results {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: var(--hoam-spacing-2);
  list-style: none;
  margin: 0;
  min-height: 0;
  overflow-y: auto;
  padding: var(--hoam-spacing-5);
}

.wrapper {
  background-color: var(--hoam-color-sun-100);
  gap: var(--hoam-search-form-spacing);
  height: var(--hoam-search-form-wrapper-height);
  padding: var(--hoam-search-form-spacing);
  width: 100%;
}

.result {
  border-radius: var(--hoam-border-radius-small);
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-2);
  padding: var(--hoam-spacing-3) var(--hoam-spacing-4);
  position: relative;
}

.result:hover {
  background-color: var(--hoam-color-sun-200);
}

.resultLink {
  color: var(--hoam-color-neutral-100);
  display: block;
  font: var(--hoam-typography-label-2);
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.resultLink::after {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: var(--hoam-layer-raised);
  width: 100%;
}

.resultPreview {
  font: var(--hoam-typography-body-1);
  max-height: 2.825em;
  overflow: hidden;
}

.resultTitle {
  font: var(--hoam-typography-title-4);
}
