:root {
  --hoam-search-form-height: 50px;
  --hoam-search-form-spacing: var(--hoam-spacing-xl);
  --hoam-search-form-wrapper-height: calc(var(--hoam-search-form-height) * calc(var(--hoam-search-form-spacing) * 2));
  --hoam-search-form-color-results-bg: var(--hoam-color-fill-grey-light);
  --hoam-search-form-color-result-bg: var(--hoam-color-fill-light);
  --hoam-search-form-color-wrapper-bg: var(--hoam-color-fill-primary);
}

.root {
  display: flex;
  gap: var(--hoam-spacing-md);
}

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(--hoam-spacing-md) 0;
}

.message {
  font: var(--hoam-typography-body-1);
  padding: var(--hoam-spacing-md) 0;
  text-align: center;
}

.results {
  background: var(--hoam-search-form-color-results-bg);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: var(--hoam-search-form-spacing);
  list-style: none;
  margin: 0;
  min-height: 0;
  overflow-y: auto;
  padding: var(--hoam-spacing-lg);
}

.wrapper {
  background-color: var(--hoam-search-form-color-wrapper-bg);
  gap: var(--hoam-search-form-spacing);
  height: var(--hoam-search-form-wrapper-height);
  padding: var(--hoam-search-form-spacing);
  width: 100%;
}

.result {
  background-color: var(--hoam-search-form-color-result-bg);
  border-radius: var(--hoam-border-radius-default);
  display: flex;
  flex-direction: column;
  padding: var(--hoam-spacing-lg);
  position: relative;
}

.resultButton {
  margin-left: auto;
}

.resultPreview {
  font: var(--hoam-typography-body-1);
  max-height: 2.825em;
  overflow: hidden;
}

.resultTitle {
  font: var(--hoam-typography-title-4);
}

.pagination {
  margin: var(--hoam-spacing-lg);
}

.srClose {
  justify-content: center;
}
