.content {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-4);
  margin-bottom: var(--hoam-spacing-6);
}

.description {
  font: var(--hoam-typography-body-1);
}

.pricePrevious {
  color: var(--hoam-color-neutral-500);
  font: var(--hoam-typography-title-5);
  text-decoration: line-through;
}

.title {
  font: var(--hoam-typography-title-2);
}
