.button {
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-md);
}

.description {
  font: var(--hoam-typography-body-1);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--hoam-spacing-md);
}

.price {
  font: var(--hoam-typography-title-3);
}

.pricePrevious {
  color: var(--hoam-color-text-soft);
  font: var(--hoam-typography-title-4);
  text-decoration: line-through;
}

.title {
  font: var(--hoam-typography-title-2);
}
