@import "@/styles/_media.css";

:root {
  --hoam-carousel-color-text: var(--hoam-color-text-light);
  --hoam-carousel-color-text-interact: var(--hoam-color-text-grey);
  --hoam-carousel-color-bullet-bg: var(--hoam-color-fill-light);
  --hoam-carousel-color-bullet-bg-interact: var(--hoam-color-fill-grey);
}

.root {
  --carousel-nav-size: 2.5rem;
}

.root :global(.swiper) {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-size: 12px;

  width: 100%;
}

.root :global(.swiper-slide) {
  height: auto;
}

.root :global(.swiper-button-prev),
.root :global(.swiper-button-next) {
  --swiper-navigation-color: var(--hoam-carousel-color-text);

  block-size: var(--carousel-nav-size);
  inline-size: var(--carousel-nav-size);
}

@media (--hoam-hoverable) {
  .root :global(.swiper-button-prev):hover,
  .root :global(.swiper-button-next):hover {
    --swiper-navigation-color: var(--hoam-carousel-color-text-interact);

    block-size: var(--carousel-nav-size);
    inline-size: var(--carousel-nav-size);
  }

  .root :global(.swiper-pagination-bullet-active):hover {
    background-color: var(--hoam-carousel-color-bullet-bg-interact);
  }
}

.root :global(.swiper-pagination-bullet-active) {
  background-color: var(--hoam-carousel-color-bullet-bg);
}
