.root[data-space="none"] {
  padding-block: 0;
}

.root[data-space="sm"] {
  padding-block: var(--hoam-spacing-4, 1rem);
}

.root[data-space="md"] {
  padding-block: var(--hoam-spacing-6, 1.5rem);
}

.root[data-space="lg"] {
  padding-block: var(--hoam-spacing-8, 2rem);
}

.root[data-space="xl"] {
  padding-block: var(--hoam-spacing-12, 3rem);
}

.root[data-space="2xl"] {
  padding-block: var(--hoam-spacing-16, 4rem);
}
