:root {
  --hoam-image-gallery-thumbs: 150px;
}

.hoam-image-gallery {
  display: flex;
}

.hoam-image-gallery__images {
  position: relative;
  /* Used flex as grid is bugging out */
  width: calc(100% - calc(var(--hoam-image-gallery-thumbs) + var(--hoam-spacing-5)));
}

.hoam-image-gallery__thumbs {
  margin-right: var(--hoam-spacing-5);
  width: var(--hoam-image-gallery-thumbs);
}

.hoam-image-gallery__controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.hoam-image-gallery__pagination {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.hoam-image-gallery__nav-btn {
  align-self: center;
  display: none;
  position: absolute;
  z-index: 10;
}

.hoam-image-gallery__nav-btn[data-direction="left"] {
  left: 0;
}

.hoam-image-gallery__nav-btn[data-direction="right"] {
  right: 0;
}

.hoam-image-gallery:hover .hoam-image-gallery__nav-btn {
  display: flex;
}

.hoam-image-gallery__thumb-image {
  cursor: pointer;
}

.hoam-image-gallery__dots-wrapper {
  align-self: end;
  margin: 0 auto var(--hoam-spacing-3);
  z-index: 10;
}

.hoam-image-gallery__thumbs .swiper-slide {
  border: 0px solid transparent;
  transition: border 100ms ease-in-out;
}

.hoam-image-gallery__thumbs .swiper-slide.swiper-slide-thumb-active {
  border: 4px solid var(--hoam-color-sun-300);
}
