@import "@/styles/_media.css";

:root {
  --hoam-spinner-size: 48px;
  --hoam-spinner-color-border: var(--hoam-color-border-primary);
}

.root {
  align-items: center;
  display: flex;
}

.spinner {
  animation: loadingRotate 1s linear infinite;
  border-radius: 50%;
  display: block;
  height: var(--hoam-spinner-size);
  position: relative;
  width: var(--hoam-spinner-size);
}

.spinner::before {
  animation: loadingClip 2s linear infinite;
  border-radius: 50%;
  border: var(--hoam-border-size-large) var(--hoam-spinner-color-border);
  box-sizing: border-box;
  content: "";
  inset: 0px;
  position: absolute;
}

@keyframes loadingRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingClip {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media (--hoam-motion-reduce) {
  .spinner,
  .spinner::before {
    animation: none;
  }
}
