.root {
  background-color: var(--hoam-color-moon-100);
  padding: var(--hoam-spacing-8) 0;
}

.links,
.socialLinks {
  display: flex;
  gap: var(--hoam-spacing-4);
}

.socialLinks a:link,
.socialLinks a:visited {
  color: var(--hoam-color-moon-700);
  text-decoration: none;
}

.socialLinks a:hover {
  color: var(--hoam-color-moon-900);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font: var(--hoam-typography-label-2);
  margin-bottom: var(--hoam-spacing-4);
  text-transform: uppercase;
}

.list a:link,
.list a:visited {
  color: var(--hoam-color-moon-700);
  font: var(--hoam-typography-title-4);
  text-decoration: none;
}

.list a:hover {
  color: var(--hoam-color-moon-900);
  text-decoration: underline;
}

.links a:link,
.links a:visited {
  color: var(--hoam-color-moon-700);
  font: var(--hoam-typography-label-1);
  text-decoration: none;
}

.links a:hover {
  color: var(--hoam-color-moon-900);
  text-decoration: underline;
}

.separator {
  border-top: var(--hoam-border-size-default) var(--hoam-color-moon-300);
  margin-top: var(--hoam-spacing-8);
  padding-top: var(--hoam-spacing-6);
}

.logo {
  max-width: 200px;
  width: 100%;
}
