.root {
  background-color: var(--hoam-color-footer-bg);
  padding: var(--hoam-spacing-3xl) 0;

  a:link,
  a:visited {
    color: var(--hoam-color-text-link);
    text-decoration: none;
  }

  a:active,
  a:focus,
  a:hover {
    color: var(--hoam-color-text-link-hover);
    text-decoration: underline;
  }
}

.links,
.socialLinks {
  display: flex;
  gap: var(--hoam-spacing-md);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    font: var(--hoam-typography-title-4);
  }
}

.sectionTitle {
  font: var(--hoam-typography-label-1);
  margin-bottom: var(--hoam-spacing-md);
  text-transform: uppercase;
}

.links a {
  font: var(--hoam-typography-label-1);
}

.separator {
  border-top: var(--hoam-border-size-default) var(--hoam-color-secondary);
  margin-top: var(--hoam-spacing-3xl);
  padding-top: var(--hoam-spacing-xl);
}

.logo {
  align-items: center;
  color: var(--hoam-color-neutral-100);
  display: inline-flex;
  font: var(--hoam-typography-title-1);
  font-size: 2rem;
  text-decoration: none;
  width: 120px;
}

.backToTop {
  justify-content: end;
}
