.root {
  display: grid;
  font: var(--hoam-typography-body-1);
  gap: var(--body-text-spacing, var(--hoam-spacing-4));
}

.root a:link,
.root a:visited {
  color: var(--hoam-color-moon-700);
  text-decoration: underline;
}

.root a:hover {
  color: var(--hoam-color-moon-800);
  text-decoration: none;
}

.root a:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 6px yellow;
  outline: none;
}
