.root {
  display: grid;
  font: var(--hoam-typography-body-1);
  gap: var(--body-text-spacing, var(--hoam-spacing-4));
}

.root a:link,
.root a:visited {
  color: var(--hoam-color-text-link);
  text-decoration: underline;
}

.root a:hover {
  color: var(--hoam-color-text-link-hover);
  text-decoration: none;
}
