.hoam-dots {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  gap: var(--hoam-spacing-2);
  padding: var(--hoam-spacing-3);
}

.hoam-dots__bullet {
  --hoam-hero-pagination-size: 18px;
  background: none;
  border: 1px solid var(--hoam-color-sun-700);
  border-radius: 100%;
  cursor: pointer;
  height: var(--hoam-hero-pagination-size);
  overflow: hidden;
  text-indent: -9999px;
  width: var(--hoam-hero-pagination-size);
}

.hoam-dots__bullet\:active {
  background-color: var(--hoam-color-neutral-900);
}

.hoam-dots__bullet:hover {
  background-color: var(--hoam-color-sun-100);
}
