:root {
  --hoam-recommendend-color-bg: var(--hoam-color-fill-secondary);
}

.root {
  background-color: var(--hoam-recommendend-color-bg);
  border-radius: var(--hoam-border-radius-default);
  padding: var(--hoam-spacing-md);
}
