.root {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.row {
  border-bottom: var(--hoam-border-size-default) grey;
  vertical-align: top;
}

.cell {
  padding: var(--hoam-spacing-md);
}
