.root {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  left: var(--hoam-spacing-md);
  top: var(--hoam-spacing-md);
  z-index: var(--hoam-layer-skip-link);
}

.root:focus-visible {
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  white-space: normal;
  clip: unset;
}
