@import "@/styles/_media.css";

:root {
  --hoam-banner-color-bg: var(--hoam-color-surface-accent);
}

.root {
  background-color: var(--hoam-banner-color-bg);
  border-radius: var(--hoam-border-radius-default);
}

.root[data-theme="pink"] {
  --hoam-banner-color-bg: var(--hoam-color-surface-accent-strong);
}

.root[data-theme="sky"] {
  --hoam-banner-color-bg: var(--hoam-color-surface-accent-soft);
}

.textContent {
  align-content: center;
}

.centered {
  align-items: center;
}

.contentLink {
  margin-top: var(--hoam-spacing-sm);
}

.title {
  font: var(--hoam-typography-title-2);
}

.subtitle {
  font: var(--hoam-typography-label-1);
  text-transform: uppercase;
}

.text {
  font: var(--hoam-typography-body-1);
}

.media {
  display: none;
}

@media (--hoam-breakpoint-md-up) {
  .media {
    display: flex;
  }
}
