:root {
  --hoam-message-highlight: var(--hoam-color-moon-500);
}

.root {
  border-width: 2px;
  border-style: solid;
  border-left-width: 8px;
  border-radius: var(--hoam-border-radius-small);
  border-color: var(--hoam-message-highlight);
  padding: var(--hoam-spacing-4);
  display: grid;
  gap: var(--hoam-spacing-2);
  grid-template-columns: 1fr auto;
  width: 100%;
}

.root[data-open="false"] {
  display: none;
}

.root[data-status="info"] {
  --hoam-message-highlight: var(--hoam-color-semantic-info);
}

.root[data-status="error"] {
  --hoam-message-highlight: var(--hoam-color-semantic-error);
}

.root[data-status="success"] {
  --hoam-message-highlight: var(--hoam-color-semantic-success);
}

.root[data-status="warning"] {
  --hoam-message-highlight: var(--hoam-color-semantic-warning);
}

.close {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0;
}

.close .icon {
  pointer-events: none;
}

.content {
  display: grid;
  gap: var(--hoam-spacing-2);
}

.title {
  color: var(--hoam-message-highlight);
}

.text {
  font: var(--hoam-typography-title-4);
}
