:root {
  --hoam-message-color-border: var(--hoam-color-border-grey);
  --hoam-message-color-title: var(--hoam-color-text-grey);
}

.root {
  border-width: 2px;
  border-style: solid;
  border-left-width: 8px;
  border-radius: var(--hoam-border-radius-default);
  border-color: var(--hoam-message-color-border);
  padding: var(--hoam-spacing-md);
  display: grid;
  gap: var(--hoam-spacing-xs);
  grid-template-columns: 1fr auto;
  width: 100%;
}

.root[data-open="false"] {
  display: none;
}

.root[data-status="info"] {
  --hoam-message-color-border: var(--hoam-color-border-semantic-info);
}

.root[data-status="error"] {
  --hoam-message-color-border: var(--hoam-color-border-semantic-error);
}

.root[data-status="success"] {
  --hoam-message-color-border: var(--hoam-color-border-semantic-success);
}

.root[data-status="warning"] {
  --hoam-message-color-border: var(--hoam-color-border-semantic-warning);
}

.close {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0;
}

.close .icon {
  pointer-events: none;
}

.content {
  display: grid;
  gap: var(--hoam-spacing-xs);
}

.title {
  color: var(--hoam-message-color-title);
  font: var(--hoam-typography-title-4);
}
